header {
  position: relative;
  height: 480px;

  #topbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba($bg-secondary, 0.9);
    z-index: 1;

    #hoofdsponsors {
      float: left;

      nav {
        ul {
          li {
            float: left;
            width: 115px;
            display: inline;
            margin: 15px 0;

            a {
              img {
                display: block;
                height: 50px;
              }
            }
          }
        }
      }

    }

    #social {
      float: right;

      nav {
        ul {
          li {
            float: left;
            display: inline-block;
            line-height: 24px;
            margin: 28px 0 28px 24px;

            a {
              display: block;
              font-size: 24px;
              font-weight: 700;
              line-height: 24px;
              color: $bg-primary;
              text-decoration: none;
              text-transform: uppercase;
              padding: 0;
              transition: color 300ms, background-color 300ms, opacity 300ms;
              -moz-transition: color 300ms, background-color 300ms, opacity 300ms;
              -o-transition: color 300ms, background-color 300ms, opacity 300ms;
              -webkit-transition: color 300ms, background-color 300ms, opacity 300ms;

              &:hover {
                color: $color-secondary;
              }
            }
          }
        }
      }
    }
  }

  #banner {
    position: absolute;
    width: 100%;
    height: 480px;
    background-image: url(../images/header.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
  }

  #menubar {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3;

    nav {
      width: 100%;
      height: 60px;
      background-color: $bg-secondary;

      ul {

        li {
          float: left;
          display: inline-block;
          line-height: 57px;
          border-bottom: 3px solid $bg-secondary;

          a {
            display: block;
            line-height: 57px;
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 17px;
            font-weight: 700;
            color: $color-secondary;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0 20px;
            transition: color 300ms, background-color 300ms, opacity 300ms;
            -moz-transition: color 300ms, background-color 300ms, opacity 300ms;
            -o-transition: color 300ms, background-color 300ms, opacity 300ms;
            -webkit-transition: color 300ms, background-color 300ms, opacity 300ms;

            &:hover {
              background-color: $bg-primary;
              color: $bg-secondary;
            }
          }

          &.current-menu-item {
            background-color: $bg-primary;

            a {
              color: $bg-secondary;
            }
          }
        }
      }
    }
  }

  #logo {
    position: absolute;
    top: 20px;
    left: calc(50% - 64px);
    width: 128px;
    height: 200px;
    background-image: url(../images/logo-svz.png);
    background-repeat: no-repeat;
    z-index: 2;
  }
}